trigger:

- master

pool:
  vmImage: 'ubuntu-latest'


steps:

- task: CreateDASTTarget@1
  inputs:
    apiUrl: 'https://online.acunetix.com'
    targetAddress: 'http://www.example23.com'
    criticality: '30'

- task: ConfigureDASTTarget@1
  inputs:
    apiUrl: 'https://online.acunetix.com'
    targetId: '$(createTargetStep.DASTTargetId)'
    limitCrawlerScope: true
    scanSpeed: 'medium'
    authenticationEnabled: true
    authUsername: 'ercument'
    authPassword: 'test'
    authUrl: 'http://www.example.com/login'

- task: StartDASTScan@2
  inputs:
    apiUrl: 'https://online.acunetix.com'
    criticalThreshold: '3'
    highThreshold: '0'
    mediumThreshold: '0'
    abortScanOnFindings: true
    targetId: '$(createTargetStep.DASTTargetId)'
    profileId: '11111111-1111-1111-1111-111111111111'
    scheduleDisable: true